[main]
# iptables table
table = FILTER

# iptables chain name to add rule to
chain = INPUT

# Number of seconds between domain(s) check (positive integer)
check_every = 120

# Comma-separated list of domains to resolve and block their IP addresses
# or
# Read the list from file, notation: @/file/path/domlist
domains = @/etc/local/web_domains_block.txt
#domains = youtube.com, youtube.pl

# ipset to use to block domain's IP addresses
ipset = blocky_blacklist

# Whitelist local IP addresses (comma-separated list)
whitelist_local_ips = 10.0.0.223

# iptables rule position in a chain
rule_pos = 0

# log_type: syslog, file
log_type = syslog
#log_type = file

# log_path: if log_type is 'file', set file to log to here
log_path = /var/log/blocky.log

# log facility, on Debian: auth, authpriv, cron, daemon, ftp, kern, lpr, mail, news, syslog, user, uucp, local0,
# local1, local2, local3, local4, local5, local6, local7
log_facility = daemon

# log level: alert, critical, debug, emerg, error, info, notice, warn
log_level = info

# pidfile
pidfile = /var/run/blocky.pid
