decorator==4.0.6
dnspython==1.12.0
docutils==0.12
ipython-genutils==0.1.0
lockfile==0.12.2
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
psutil==3.3.0
ptyprocess==0.5
python-daemon==2.1.0
python-iptables==0.10.0
setproctitle==1.1.9
simplegeneric==0.8.1
traitlets==4.0.0
wheel==0.26.0
wsgiref==0.1.2
